$text-button: #ffffff;
$red-button: #EF0A00;
$red-button-dark: #C10707;
$gris-light: #D5D3D3;
$gris-medium: #545454;
$gris-dark:#4C4C4C;
$color-green: #00FF00;
$blue-button: #00AA9F;
$yellow: #FFCD00;
$blue-button-dark:#00386E;
$blue-text: #1762A4;
$grey-font: #AFAFAF;
$grey-font-dark: #AFAFAF;
$font-button:3rem;
$font-small:2rem;
$font-medium:3rem;
$font-medium-plus:4rem;
$font-big:6rem;