$rojo-corfo: #ec6c6e;
$azul-corfo:#056ea6;
$gris-corfo: #4d4d4d;
$blanco: #ffffff;
$negro:#000000;
$darkgrey-corfo: #4D4D4D;
$text-button: #ffffff;
$red-button: #EF0A00;
$red-button-dark: #C10707;
$color-green: #00FF00;
$blue-button: #00549C;
$blue-button-dark:#00386E;
$blue-text: #1762A4;
$grey-font: #AFAFAF;
$grey-font-dark: #AFAFAF;
$font-button:3rem;
$font-dipreca:2rem;
$font-dipreca-big:8rem;